<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Taquin</title>


	<link href="Game.css" type="text/css" rel="stylesheet">

    <script src="../model/Game_Model.js" type="text/javascript" charset="utf-8"></script>
	<script src="../controller/Game_Controller.js" type="text/javascript" charset="utf-8"></script>

</head>


<div id="menu">
<table>
	<tr>
		<td>
			<button type="button" onclick="clicNewGame()">New game</button>
		</td>
		<td></td>
		<td>
			<button type="button" onclick="clicHighScores()">High scores</button>
		</td>
	</tr>
</table>
</div>


<div id="initGame"></div>


<div id="puzzle">
	<table>
		<tr><td>
			<div id="game"></div>
		</td></tr>
	</table>
</div>



<div id="timer"></div>

</body>
</html>