<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The best scores</title>
    <link href="Scores.css" type="text/css" rel="stylesheet">


    <script src="../model/Scores_Model.js" type="text/javascript" charset="utf-8"></script>
    <script src="../controller/Scores_Controller.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>

<div id="menu">
    <table>
        <tr>
            <td>
                <button type="button" onclick="clicNewGame()">New game</button>
            </td>
            <td></td>
            <td>
                <button type="button" onclick="clicHighScores()">High scores</button>
            </td>
        </tr>
    </table>
</div>

<div id="navSize">
    <script language="JavaScript">
        dispMenuSize();
    </script>
</div>


<div id="scoresTable">
</div>

</body>
</html>